flows.json
[
    {
        "id": "303df5b69426bb35",
        "type": "tab",
        "label": "LabGuardian",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6cd98754a4babe68",
        "type": "mqtt in",
        "z": "303df5b69426bb35",
        "name": "",
        "topic": "lab/sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "084bfdfd2e0176d1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 400,
        "wires": [
            [
                "e6a651f31f6aa1cc"
            ]
        ]
    },
    {
        "id": "e6a651f31f6aa1cc",
        "type": "function",
        "z": "303df5b69426bb35",
        "name": "function 1",
        "func": "let dataString = msg.payload.toString();\n\nlet dataArray = dataString.split(\",\");\n\nif (dataArray.length === 4) {\n\n    let temp = parseFloat(dataArray[0]);\n    let hum = parseFloat(dataArray[1]);\n    let avgTemp = parseFloat(dataArray[2]);\n    let avgHum = parseFloat(dataArray[3]);\n\n    let msgTemp = { payload: temp };\n    let msgHum = { payload: hum };\n    let msgAvgTemp = { payload: avgTemp };\n    let msgAvgHum = { payload: avgHum };\n\n    return [msgTemp, msgHum, msgAvgTemp, msgAvgHum];\n} else {\n\n    return null;\n}",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 400,
        "wires": [
            [
                "b9ac5c4b2dbd593f",
                "8c69f9579aea43ab"
            ],
            [
                "f87acebc38047945",
                "0646a3842150265d"
            ],
            [
                "66eb7f395f36dc5f"
            ],
            [
                "0a267866024c63f5"
            ]
        ]
    },
    {
        "id": "b9ac5c4b2dbd593f",
        "type": "ui_gauge",
        "z": "303df5b69426bb35",
        "name": "Temp",
        "group": "a0019b603862a99d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "溫度",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "40",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 300,
        "wires": []
    },
    {
        "id": "8c69f9579aea43ab",
        "type": "ui_chart",
        "z": "303df5b69426bb35",
        "name": "Temp chart",
        "group": "a0019b603862a99d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "60",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "f87acebc38047945",
        "type": "ui_gauge",
        "z": "303df5b69426bb35",
        "name": "Hum",
        "group": "17d613218dafbec5",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "濕度",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "0646a3842150265d",
        "type": "ui_chart",
        "z": "303df5b69426bb35",
        "name": "Hum chart",
        "group": "17d613218dafbec5",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "80",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f644352395c2dd73",
        "type": "mqtt in",
        "z": "303df5b69426bb35",
        "name": "",
        "topic": "lab/status",
        "qos": "2",
        "datatype": "utf8",
        "broker": "084bfdfd2e0176d1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 620,
        "wires": [
            [
                "cf94b0a946c26d5f"
            ]
        ]
    },
    {
        "id": "cf94b0a946c26d5f",
        "type": "ui_text",
        "z": "303df5b69426bb35",
        "group": "18e3d663da1fc172",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "插頭狀態",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 460,
        "y": 620,
        "wires": []
    },
    {
        "id": "0a267866024c63f5",
        "type": "ui_text",
        "z": "303df5b69426bb35",
        "group": "17d613218dafbec5",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "平均濕度",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 780,
        "y": 640,
        "wires": []
    },
    {
        "id": "66eb7f395f36dc5f",
        "type": "ui_text",
        "z": "303df5b69426bb35",
        "group": "a0019b603862a99d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "平均溫度",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 780,
        "y": 580,
        "wires": []
    },
    {
        "id": "084bfdfd2e0176d1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a0019b603862a99d",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "e17f4bb12afd63c0",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "17d613218dafbec5",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "e17f4bb12afd63c0",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "18e3d663da1fc172",
        "type": "ui_group",
        "name": "System Status",
        "tab": "e17f4bb12afd63c0",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e17f4bb12afd63c0",
        "type": "ui_tab",
        "name": "LabGuardian",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fea778cdc52ea0c9",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]